<div class="text-center">
    <div class="alert alert-primary js-status" role="alert">
        Запуск ...
    </div>
    <ul class="list-group list-group-flush js-messages-list">
    </ul>
</div>